In [1]:
import pandas as pd
data=pd.read_csv('enjoysport.csv')
data=pd.DataFrame(data)
data
data.head()

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        yes
1  Sunny    Warm     High  Strong  Warm     Same        yes
2  Rainy    Cold     High  Strong  Warm   Change         no
3  Sunny    Warm     High  Strong  Cool   Change        yes

In [ ]:
ln_col=